<main class="main">
  <div class="content">
    <h2>{{ title }}</h2>

    <h4>Client Ticker: {{ clientTickerCount() }}</h4>
    <mat-slider min="0" max="100" step="1" showTickMarks discrete>
      <input matSliderThumb [ngModel]="clientTickerCount()" (ngModelChange)="clientTickerCount.set($event)">
    </mat-slider>
    <div class="ticker container">
      @for (item of clientTickerCounts(); track $index) {
      <client-ticker [tickerId]="item"></client-ticker>
      }
    </div>

    <h4>App Ticker: {{ appTickerCount() }}</h4>
    <mat-slider min="0" max="100" step="1" showTickMarks discrete>
      <input matSliderThumb [ngModel]="appTickerCount()" (ngModelChange)="appTickerCount.set($event)">
    </mat-slider>
    <div class="ticker container">
      @for (item of appTickerCounts(); track $index) {
      <app-ticker [tickerId]="item"></app-ticker>
      }
    </div>

    <h4>App Events: {{ appEventsCount() }}</h4>
    <mat-slider min="0" max="100" step="1" showTickMarks discrete>
      <input matSliderThumb [ngModel]="appEventsCount()" (ngModelChange)="appEventsCount.set($event)">
    </mat-slider>
    <div class="events container">
      @for (item of appEventsCounts(); track $index) {
      <app-events [eventId]="item"></app-events>
      }
    </div>

  </div>


</main>
