<main class="main">
  <div class="content">
    <h1>{{ title }}</h1>

    <div class="sending container">
      @for (item of counts; track $index) {
      <div class="ticker">
        <div class="world">World Ticker {{$index}} ({{ counts[$index] }})</div>
        <div class="result">{{ WorldTicker[$index] | async }}</div>
      </div>
      }
    </div>

    <div class="receiving container">
      @for (item of clientCounts; track $index) {
      <app-client-simple [clientId]="item"></app-client-simple>
      }
    </div>

  </div>


</main>
