:host {
  display: block;
  max-width: 300px;
  min-width: 300px;
  border: white 3px dotted;
  background-color: lightskyblue;
  color: darkblue;
  padding: 5px;
  margin: 5px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
